%h1 Products#index
%p Find me in app/views/products/index.html.haml

.container
  .row
    - @products.each do |pro|
      .col-xs-12.col-sm-6.col-md-4
        .card.mb-4
          .card-body.pt-4.btn-parent
            %h4.card-title= pro.name
            %h6.card-subtitle.mb-2.text-muted= pro.price
            %p.card-text= pro.description
